<h3 class="text-center">Event Details</h3>
<div *ngIf="event">
<div class="row">
<div class="form-group">
  <div class="col-sm-4"><label>Event Name:</label></div>
  <div class="col-sm-8">{{event.name}}</div>
</div>
</div>

<div class="row">
<div class="form-group">
  <div class="col-sm-4"><label>Event Images:</label></div>
  <div class="col-sm-8">
    <ul class="items">
      <li *ngFor="let imag of event.eventImages">
         <img class="img-responsive" src="http://localhost:65329/EventImages/{{imag.imagePath}}" height="100px" width="100px"/>
      </li>
    </ul>
    </div>
</div>
</div>

<div class="row">
<div class="form-group">
  <div class="col-sm-4"><label>Event Descriptions:</label></div>
  <div class="col-sm-8">
    <ul class="items">
      <li *ngFor="let desc of event.eventDescriptions">
        {{ desc.eventDesciption }}
      </li>
    </ul>
  </div>
</div>
</div>


<div class="row">
<div class="form-group">
  <div class="col-sm-4"><label>Event Dates:</label></div>
  <div class="col-sm-8">
    <div class="form-group">
      <div class="col-sm-6">
      <ul class="items">
      <li *ngFor="let dt of event.eventDates">
        <label> {{ dt.startDate | date}}-{{ dt.endDate | date}}</label>
          <span><ul> <li *ngFor="let dtp of dt.eventDateParticipants">
            {{dtp.participant.firstName}}
            </li></ul></span>
        </li>
      </ul>
      </div>
      
      </div>
  </div>
</div>
</div>
</div>